.login-page {
    display: flex;
    height: 100vh;
    width: 100%;
  
    .login-left, .login-right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
    }
  
    .login-left {
      flex-direction: column;
      background-color: #fff;
      padding: 2rem;

      .login-content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .logo {
        width: 350px;
        margin-bottom: 2rem;
      }
  
      .login-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem 1.5rem;
        font-size: 16px;
        font-weight: 700;
        border-radius: 8px;
        box-shadow: 0 2px 6px #1e4672;
  
        .ms-icon {
          width: 40px;
          height: 40px;
          margin-right: 12px;
        }

        span {
          font-family: "Palanquin", sans-serif; 
          color: #1e4672;
          letter-spacing: 0;
        }
      }
    }
  
    .login-right {
      img {
        width: 100%;
        height: 100%;
      }
    }
}

@media (max-width: 1100px) {
    .login-page {
        .login-left {
            width: 100%;
        }
        
        .login-right {
            width: 0%;
            display: none; /* Si quieres ocultar completamente el lado derecho */
        }
    }
}

.lang-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;

  button {
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    font-size: 0.85rem;
    color: #000;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

  