<!-- Solo muestra el layout si el usuario está logueado -->
<ng-container *ngIf="!isBooting">
  <nz-layout *ngIf="isLoggedIn; else loginView" class="app-layout">
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <div class="sidebar-logo" [ngClass]="{ 'sidebar-mini-logo': isCollapsed }">
        <img src="assets/logo.png" alt="Logo" class="logo"/>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Tickets" nzIcon="profile">
          <ul>
            <li nz-menu-item routerLink="/tickets" nzMatchRouter nzMatchRouterExact>
              <a routerLink="/tickets">Ticket list</a>
            </li>
            <li nz-menu-item routerLink="/tickets/new" nzMatchRouter nzMatchRouterExact>
              <a routerLink="/tickets/new">New ticket</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Administration" nzIcon="team" *ngIf="userRol === 4">
          <ul>
            <li nz-menu-item routerLink="/tickets/users" nzMatchRouter nzMatchRouterExact>
              <a routerLink="/tickets/users">Register user</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>

    <nz-layout>
      <nz-header class="custom-header">
        <!-- Trigger colapso -->
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <span class="title">Ticket Support</span>

        <div class="spacer"></div>

        <!-- Perfil (dropdown) -->
        <a nz-dropdown [nzDropdownMenu]="userMenu" class="user-trigger" nzTrigger="click">
          <span nz-icon nzType="user" class="mr-1"></span>
          <span class="user-name">{{userName}}</span>
          <span nz-icon nzType="down" class="ml-1"></span>
        </a>

        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>Profile</li>
            <li nz-menu-item>Preferences</li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="logout()">Sign out</li>
          </ul>
        </nz-dropdown-menu>
      </nz-header>
      
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>

  <!-- Template alternativo cuando no hay login -->
  <ng-template #loginView>
    <router-outlet></router-outlet>
  </ng-template>
</ng-container>
